In [1]:
import pandas as pd 
import numpy as np

In [2]:
fb_ref_data = pd.read_csv('./data/fb_ref_scrapped.csv', delimiter=',')
fb_ref_data.head()

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Launch%,AvgLen,Launch%.1,AvgLen.1,Opp,Stp,Stp%,#OPA,#OPA/90,AvgDist
0,Aaron Cresswell,eng ENG,DF,West Ham,eng Premier League,27,1989.0,36,35,3069.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Hunt,de GER,"MF,FW",Hamburger SV,de Bundesliga,30,1986.0,28,26,2081.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aaron Lennon,eng ENG,MF,Burnley,eng Premier League,30,1987.0,14,13,1118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aaron Lennon,eng ENG,"FW,MF",Everton,eng Premier League,30,1987.0,15,9,793.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aaron Mooy,au AUS,MF,Huddersfield,eng Premier League,26,1990.0,36,34,3067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
fb_ref_data.keys()

Index(['Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', 'MP',
       'Starts', 'Min',
       ...
       'Launch%', 'AvgLen', 'Launch%.1', 'AvgLen.1', 'Opp', 'Stp', 'Stp%',
       '#OPA', '#OPA/90', 'AvgDist'],
      dtype='object', length=204)

In [6]:
fb_ref_data.Comp.unique()

array(['eng Premier League', 'de Bundesliga', 'es La Liga', 'fr Ligue 1',
       'it Serie A'], dtype=object)

In [8]:
pl_mask = fb_ref_data['Comp'] == 'eng Premier League'
bund_mask = fb_ref_data['Comp'] == 'de Bundesliga'
ll_mask = fb_ref_data['Comp'] == 'es La Liga'
l1_mask = fb_ref_data['Comp'] == 'fr Ligue 1'
seria_mask = fb_ref_data['Comp'] == 'it Serie A'

pl_data = fb_ref_data[pl_mask]
bundesliga_data = fb_ref_data[bund_mask]
la_liga_data = fb_ref_data[ll_mask]
ligue_1_data = fb_ref_data[l1_mask]
serie_a_data = fb_ref_data[seria_mask]

pl_data.to_csv('./data/premier_league_data_fb_ref.csv')
bundesliga_data.to_csv('./data/bundesliga_data_fb_ref.csv')
la_liga_data.to_csv('./data/la_liga_data_fb_ref.csv')
ligue_1_data.to_csv('./data/ligue_1_data_fb_ref.csv')
serie_a_data.to_csv('./data/serie_a_data_fb_ref.csv')