In [57]:
import pandas as pd 
import numpy as np 


data = pd.read_csv("./data/player_stats_202122.csv", sep=';', encoding='ISO-8859-1')
data.head(5)

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,0.03,1.41,1.16,0.0,0.06,0.03,5.53,0.47,1.59,22.7
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.00,0.06,1.39,0.0,0.03,0.00,6.77,2.02,1.36,59.8
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.00,0.36,1.24,0.0,0.00,0.00,8.76,0.88,0.88,50.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.03,0.79,2.23,0.0,0.00,0.00,8.87,0.43,0.43,50.0
4,5,Charles Abi,FRA,FW,Saint-Étienne,Ligue 1,22.0,2000,1,1,...,0.00,2.00,0.00,0.0,0.00,0.00,4.00,2.00,0.00,100.0

In [58]:
data.columns[data.isnull().any()].tolist()

['Nation', 'Age']

In [59]:
football_player_stats = pd.DataFrame()

football_player_stats['Player'] = data['Player']
football_player_stats['Nation'] = data['Nation']
football_player_stats['Squad'] = data['Squad']
football_player_stats['League'] = data['Comp']
football_player_stats['Age'] = data['Age']
football_player_stats['MP'] = data['MP']
football_player_stats['Position'] = data['Pos']
football_player_stats['Goals/90'] = data['Goals']
football_player_stats['Goals/Shot'] = data['G/Sh']
football_player_stats['Shots'] = data['Shots']
football_player_stats['TouchesDefPen'] = data['TouDefPen']
football_player_stats['TouchesDef3rd'] = data['TouDef3rd']
football_player_stats['TouchesMid3rd'] = data['TouMid3rd']
football_player_stats['TouchesAtt3rd'] = data['TouAtt3rd']
football_player_stats['TouchesAttPen'] = data['TouAttPen']
football_player_stats['BlocksOnTargetShots'] = data['BlkShSv']
football_player_stats['BlocksShots'] = data['BlkSh']
football_player_stats['BlocksPasses'] = data['BlkPass']
football_player_stats['Blocks'] = (data['Blocks'] - (data['BlkShSv'] + data['BlkSh'] + data['BlkPass'])).round(0).astype(int)
football_player_stats['PKGoals'] = ((data['ShoPK'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['PKAttempted'] = ((data['PKatt'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['Goals'] = ((data['Goals'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['Pass'] = ((data['PasTotAtt'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['PassCompleted'] = ((data['PasTotCmp'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['PassComp%'] = ((football_player_stats['PassCompleted'] / football_player_stats['Pass']) * 100).round(2)
football_player_stats['Assist'] = ((data['Assists'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['Cross'] = ((data['PasCrs'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['CrossCompleted'] = ((data['CrsPA'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['CrossComp%'] = ((football_player_stats['CrossCompleted'] / football_player_stats['Cross']) * 100).round(2)
football_player_stats['Tackle_Won'] = ((data['TklWon'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['SucDribble'] = ((data['DriSucc'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['Dribble'] = ((data['DriAtt'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['DribbleComp%'] = ((football_player_stats['SucDribble'] / football_player_stats['Dribble']) * 100).round(2)
football_player_stats['YCards'] = ((data['CrdY'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['RCards'] = ((data['CrdR'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['FoulsCommitted'] = ((data['Fls'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['FoulsDrawn'] = ((data['Fld'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['OGoals'] = ((data['OG'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['AerWon'] = ((data['AerWon'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['AerLost'] = ((data['AerLost'] * data['Min']) / 90).round(0).astype(int)
football_player_stats['AerWon%'] = ((data['AerWon'] / (data['AerWon'] + data['AerLost'])) * 100).round(2)

football_player_stats.head()

,Player,Nation,Squad,League,Age,MP,Position,Goals/90,Goals/Shot,Shots,...,Dribble,DribbleComp%,YCards,RCards,FoulsCommitted,FoulsDrawn,OGoals,AerWon,AerLost,AerWon%
0,Max Aarons,ENG,Norwich City,Premier League,22.0,34,DF,0.00,0.00,0.41,...,78,42.31,8,0,31,59,1,15,51,22.82
1,Yunis Abdelhamid,MAR,Reims,Ligue 1,34.0,34,DF,0.06,0.11,0.54,...,22,72.73,5,1,43,24,0,67,45,59.76
2,Salis Abdul Samed,GHA,Clermont Foot,Ligue 1,22.0,31,MF,0.04,0.06,0.66,...,42,64.29,12,3,45,35,0,24,24,50.00
3,Laurent Abergel,FRA,Lorient,Ligue 1,29.0,34,MF,0.00,0.00,0.91,...,65,64.62,9,0,46,68,0,14,14,50.00
4,Charles Abi,FRA,Saint-Étienne,Ligue 1,22.0,1,FW,0.00,0.00,0.00,...,0,NaN,0,0,1,0,0,1,0,100.00

In [60]:
football_player_stats.keys()

Index(['Player', 'Nation', 'Squad', 'League', 'Age', 'MP', 'Position',
       'Goals/90', 'Goals/Shot', 'Shots', 'TouchesDefPen', 'TouchesDef3rd',
       'TouchesMid3rd', 'TouchesAtt3rd', 'TouchesAttPen',
       'BlocksOnTargetShots', 'BlocksShots', 'BlocksPasses', 'Blocks',
       'PKGoals', 'PKAttempted', 'Goals', 'Pass', 'PassCompleted', 'PassComp%',
       'Assist', 'Cross', 'CrossCompleted', 'CrossComp%', 'Tackle_Won',
       'SucDribble', 'Dribble', 'DribbleComp%', 'YCards', 'RCards',
       'FoulsCommitted', 'FoulsDrawn', 'OGoals', 'AerWon', 'AerLost',
       'AerWon%'],
      dtype='object')

We group the above attributes into the following categories:

## Attatcking Stats:
- Goals/90 : 
- Goals/Shot : 
- Shots : 
- PKGoals : 
- PKAttempted : 
- Goals : 
- TouchesAtt3rd : 
- TouchesAttPen : 

## Passing Stats:
- Pass : 
- PassCompleted : 
- PassComp% : 

## Creativity:
- Assist :
- Cross : 
- CrossCompleted : 
- CrossComp% : 
- FoulsDrawn

## Tackles:
- Tackles_Won:
- TouchesDefPen
- TouchesDef3rd
- AerWon
- AerLost

<!-- ## Pressing: -->

## Blocks:
- Blocks
- BlocksShots
- BlocksShotsOnTarget
- BlocksPasses

## Dribbling:
- SucDribble
- Dribble
- DribbleComp%

## Indiscipline:
- Ycards
- RCards
- FoulsCommitted

In [61]:
Attack_Stats = football_player_stats[["Player","Goals/90","Goals/Shot", "Shots", "PKGoals", "PKAttempted", "Goals", "TouchesAtt3rd", "TouchesAttPen"]]
Attack_Stats.head()

,Player,Goals/90,Goals/Shot,Shots,PKGoals,PKAttempted,Goals,TouchesAtt3rd,TouchesAttPen
0,Max Aarons,0.00,0.00,0.41,0,0,0,15.0,0.91
1,Yunis Abdelhamid,0.06,0.11,0.54,0,0,2,2.9,0.85
2,Salis Abdul Samed,0.04,0.06,0.66,0,0,1,10.9,0.62
3,Laurent Abergel,0.00,0.00,0.91,0,0,0,11.6,0.46
4,Charles Abi,0.00,0.00,0.00,0,0,0,18.0,6.00

In [62]:
Pass_Stats = football_player_stats[["Player","Pass", "PassCompleted", "PassComp%"]]
Pass_Stats.head()

              Player  Pass  PassCompleted  PassComp%
0         Max Aarons  1440           1088      75.56
1   Yunis Abdelhamid  1558           1283      82.35
2  Salis Abdul Samed  1669           1529      91.61
3    Laurent Abergel  1636           1337      81.72
4        Charles Abi     6              2      33.33

In [63]:
Crea_Stats = football_player_stats[["Player","Assist","Cross", "CrossCompleted", "CrossComp%","FoulsDrawn"]]
Crea_Stats.head()

              Player  Assist  Cross  CrossCompleted  CrossComp%  FoulsDrawn
0         Max Aarons       2     45               8       17.78          59
1   Yunis Abdelhamid       0      2               0        0.00          24
2  Salis Abdul Samed       0     10               1       10.00          35
3    Laurent Abergel       2     26               6       23.08          68
4        Charles Abi       0      1               0        0.00           0

In [64]:
Tack_Stats = football_player_stats[["Player","Tackle_Won", "TouchesDefPen", "TouchesDef3rd","AerWon","AerLost"]]
Tack_Stats.head()

,Player,Tackle_Won,TouchesDefPen,TouchesDef3rd,AerWon,AerLost
0,Max Aarons,37,5.06,23.3,15,51
1,Yunis Abdelhamid,46,8.28,32.8,67,45
2,Salis Abdul Samed,34,2.01,22.7,24,24
3,Laurent Abergel,73,0.67,13.7,14,14
4,Charles Abi,0,0.00,0.0,1,0

In [65]:
Block_Stats = football_player_stats[["Player","Blocks", "BlocksShots", "BlocksOnTargetShots","BlocksPasses"]]
Block_Stats.head()

              Player  Blocks  BlocksShots  BlocksOnTargetShots  BlocksPasses
0         Max Aarons       0         0.69                 0.03          2.00
1   Yunis Abdelhamid       0         0.79                 0.06          1.09
2  Salis Abdul Samed       0         0.04                 0.00          0.95
3    Laurent Abergel       0         0.09                 0.00          1.59
4        Charles Abi       0         0.00                 0.00          2.00

In [66]:
Drib_Stats = football_player_stats[["Player","SucDribble", "Dribble", "DribbleComp%"]]
Drib_Stats.head()

              Player  SucDribble  Dribble  DribbleComp%
0         Max Aarons          33       78         42.31
1   Yunis Abdelhamid          16       22         72.73
2  Salis Abdul Samed          27       42         64.29
3    Laurent Abergel          42       65         64.62
4        Charles Abi           0        0           NaN

In [67]:
Indis_Stats = football_player_stats[["Player","YCards", "RCards", "FoulsCommitted"]]
Indis_Stats.head()

              Player  YCards  RCards  FoulsCommitted
0         Max Aarons       8       0              31
1   Yunis Abdelhamid       5       1              43
2  Salis Abdul Samed      12       3              45
3    Laurent Abergel       9       0              46
4        Charles Abi       0       0               1